# Django Configuration
DJANGO_SECRET_KEY=your-random-secret-key-here
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=api.piovecosmetics.dz,app.piovecosmetics.dz,piovecosmetics.dz,www.piovecosmetics.dz

# Mylerz Delivery API
MYLERZ_BASE_URL=https://integration.algeria.mylerz.net
MYLERZ_USERNAME=piovestore
MYLERZ_PASSWORD=your_mylerz_password_here
MYLERZ_WAREHOUSE_NAME=piovestore

# SATIM Payment API (Production)
SATIM_BASE_URL=https://cib.satim.dz/payment/rest
SATIM_USER_NAME=piovecosmetics9ktupK4l0
SATIM_PASSWORD=kslHOUwV4P08v3hD
SATIM_TERMINAL_ID=E002000032

# Google reCAPTCHA v3
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key_here
