# Django Configuration
DJANGO_SECRET_KEY=your-random-secret-key-here
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=api.piovecosmetics.dz,app.piovecosmetics.dz,piovecosmetics.dz,www.piovecosmetics.dz

# Mylerz Delivery API
MYLERZ_BASE_URL=https://integration.algeria.mylerz.net
MYLERZ_USERNAME=piovestore
MYLERZ_PASSWORD=your_mylerz_password_here
MYLERZ_WAREHOUSE_NAME=piovestore

# SATIM Payment API
SATIM_BASE_URL=https://test2.satim.dz/payment/rest
SATIM_USER_NAME=SAT2606161972
SATIM_PASSWORD=your_satim_password_here
SATIM_TERMINAL_ID=E010903300
